<IfModule mod_rewrite.c>

Options +FollowSymLinks
Options -Multiviews
Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteBase /

# error.php rewrite
RewriteRule ^error/(\d+)*$ ./index.php?err=$1

#RewriteRule ^(\w+)*$ ./index5.php?page=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?page=$1 [L]

# rewrite for target & action
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)$ index.php?target=$1&action=$2 [L]

ErrorDocument 404 /${DOCUMENT_ROOT}/error/404
ErrorDocument 403 /${DOCUMENT_ROOT}/error/403
ErrorDocument 401 /${DOCUMENT_ROOT}/error/401

</IfModule>
