html,
body {
    height: 100%;
    padding-bottom: 40px;
    padding-top: 25px;
}

div#guest_wrap {
    text-align: center;
}

.padding-top-register{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-sign {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
form.form-sign img {
    width: 100%;
}
.form-sign .checkbox {
    font-weight: 400;
}
.form-sign .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-sign .form-control:focus {
    z-index: 2;
}
.form-sign input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-sign input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

a.text-success:focus, a.text-success:hover {
    text-decoration: underline;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 5px);
}
.form-horizontal{
    text-align: left;
}
.form-control-feedback {
    width:  max-content;
}
.row {

    margin-right: 0;
    margin-left: 0;
}
.padding-top-register{
    text-align: center;
}
.error_poster{
    width:100%;
}
#ajax_error{
    display: none;
}
#ajax_success{
    display: none;
}
.err_msg, #ajax_error {
    position:  fixed;
    top: 65px;
    background: #dc3545f2;
    width:  100%;
    text-align:  center;
    padding:  5px 0;
    font-size:  1.2em;
    font-weight:  bold;
    text-transform: CAPITALIZE;
    z-index:  1000;
    border-top: 1px solid #90232e;
    border-bottom: 1px solid #90232e;
    color: white;
}
.ok_msg, #ajax_success {
    position:  fixed;
    top: 65px;
    background: #47bf62f2;
    width:  100%;
    text-align:  center;
    padding:  5px 0;
    font-size:  1.2em;
    font-weight:  bold;
    text-transform: CAPITALIZE;
    z-index: 1000;
    border-top: 1px solid #2b7d3e;
    border-bottom: 1px solid #2b7d3e;
    color: white;
}
nav{
    z-index: 10000;
    border-bottom: 5px solid #1f7d34;
}
nav li{
    font-size: 1.2rem;
}
.user_profile_pic {
    border-radius:  50%;
    height: 35px;
    position:  absolute;
    left: -36px;
    top: 2px;
}
.profile_btn_top{
    position:  relative;
}

.dropdown-menu {
    left: unset;
    right: 0 ;
}

.fixed-top {
    z-index: 1030;
}

/* layout sidebars fixed*/

.sidebar-nav-fixed {
    width: 18%;
    min-width: 200px;
    max-width: 250px;
}

@media (min-width: 768px) {
    #sidemenu.affix {
        position: fixed;
    }
}

.err_msg:hover, .ok_msg:hover, #ajax_error:hover, #ajax_success:hover {
    cursor: pointer;
    color: black;
}

.post_form textarea {
    resize: none;
    margin-bottom: 10px;
}
.post_form input {
    margin: 0 !important;
}

.post_modal {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 14px 0px grey;
}

#small_image {
    display: inline-block;
    width: 62px;
    margin: 10px;
}

#small_image a img {
    width:100%;
    border-radius: 50%;
}

#post_input_fake {
    display: inline-block;
}
.modal-header {
    display: block;
}
.modal-header a{
    display: inline-block;
    width: 70px;
}

.modal-header a img {
    width: 100%;
}

.modal-header h5 {
    display: inline-block;
}
div#user-nav ul {
    list-style: none;
}
.profile-cover {
    min-height: 300px;
    background-size:  cover;
    background-position:  center;
    position: relative;
}
.card.coverProfilePic img {
    height:  150px;
    width: auto;
}

.card.coverProfilePic {
    position:  absolute;
    bottom:  20px;
    right:  20px;
    border: 2px solid #ffffff87;
    box-sizing:  border-box;
    border-radius: 6px;
    max-width: 150px;
    background-color: #ffffffd1;
}
span.nav-icon {
    margin-right:  10px;
}

div#about, div#photos, div#friends {
    display: none;
}

ul.navbar-nav li {
    cursor:  pointer;
    transition: background 0.3s ease-in-out;
}

ul.navbar-nav li:hover {
    background: #ffffff1f;
    border-radius: 5px;
}

ul.navbar-nav li a{
    color:#d7eedd !important;
}

.dropdown-menu {
    background: green;
}

.dropdown-menu a:hover {
    color: black !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #28a745;
}
img.logo {
    height: 32px;
}
.img_100 {
    height: 200px;
    width: 200px;
}

.like_counter {
    position: relative;
}
.loading-gif {
    width: 25px;
    position: absolute;
    left: 42px;
    top: -13px;
}
.like-button, .dislike-button {
    color: gray;
    background: none;
    border: none;
    cursor:  pointer;
    transition: background 0.3s ease-in-out;
}
.like-button:hover, .dislike-button:hover {
    color: black;
}
.unlike-button, .undislike-button {
    color: black;
    border: none;
    background: none;
    cursor:  pointer;
    transition: background 0.3s ease-in-out;
}
.unlike-button:hover, .undislike-button:hover {
    color: black;
    opacity: 0.8;
}

.like-button, .unlike-button, .dislike-button, .undislike-button {
    padding: 10px;
    width: 100%;
    outline: none;
}
.comment {
    border-bottom: 1px solid darkgray;
    width: 97%;
    margin-top: 10px;
}

.comment span img {
    height: 40px;
    display: inline;
    border-radius: 50%;
    width: 40px;
}

.user_pic {
    width: 33px;
    margin-right: 7px !important;
    border-radius: 50%;
}
.comments_box {
    height: 0;
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
    overflow: hidden;
    overflow-y: scroll;
}

.comment_big {
    height: 50px;
}

.comment_box_full {
    padding: 15px;
    height: 420px;
}

.description {
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
    margin: 13px 0px;
    padding: 10px 2px;
    color: #5e5e5e;
}
.description p {
    margin:  0px;
}
.user_pic_add_comment {
    display: inline-block;
}
span.user_pic_add_comment img {
    height: 100%;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 7px;
}

.input_add_comment {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: 25px;
    padding: 25px;
    border-top: 1px solid #cdcdcd;
}

input[type="text"] {
    width: 70%;
    box-sizing: border-box;
}

#comment_btn_close {
    display: none;
}

.comment_date {
    font-size: 0.6em;
    text-align: center;
    color: #488676;
    font-weight:  bold;
    font-family:  arial;
    float: right;
    margin: 8px 21px;
}


a.comment_owner {
    font-size: 0.8em;
    font-weight:  bold;
    padding-top: 8px;
}
.comments-buttons {
    display: inline-block;
    float: right;
}

.comment_btn_close {
    display: none;
}

.last_comment {
    color: green !important;
    text-shadow: 0 0 10px green;
}
.icon {
    width: 9%;
    display: block;
    float: left;
    margin-right: 6px;
}

.icon img {
    width: 100%;
}
.name {
    font-size: 1.32em;
    margin-top: 3px;
    float: left;
}

.name a {
    text-decoration: none;
    transition: all 0.3s;
    font-weight: bold;
}

.name a:hover {
    color: black;
    text-shadow: 0 0 10px darkgray;
}

.date {
    float: right;
    font-size: 0.75em;
    margin-top: 4px;
    color: gray;
}

.add_comment_container {
    height: 31px;
    margin-bottom: 0px !important;
    margin-top: 10px;
}
.like-container {
    width: 68px;
    display: inline-block;
    position: relative;
}
.like_counter {
    position: relative;
}

.like-button, .dislike-button, .unlike-button, .undislike-button {
    position: absolute;
    padding: 0px;
    top: -13px;
    outline: none !important;
}

span.likes_counter {
    background: #ffffffc2;
    padding: 2px 6px;
    font-size: 0.6em;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #757575;
    color: black;
    margin-left: 7px;
    outline: none;
}

.comment-counter {
    padding: 1px 3px;
    font-size: 0.8em;
    color: black;

}

.comment-desc {
    margin: 0px;
}

.post_navigation {
    padding: 10px;
    border-radius: 11px;
    box-shadow: 0 0 10px 0px darkgrey;
}