html,
body {
    height: 100%;
    padding-bottom: 40px;
    padding-top: 25px;
}

div#guest_wrap {
    text-align: center;
}

.padding-top-register{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-sign {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
form.form-sign img {
    width: 100%;
}
.form-sign .checkbox {
    font-weight: 400;
}
.form-sign .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-sign .form-control:focus {
    z-index: 2;
}
.form-sign input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-sign input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

a.text-success:focus, a.text-success:hover {
    text-decoration: underline;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 5px);
}
.form-horizontal{
    text-align: left;
}
.form-control-feedback {
    width:  max-content;
}
.row {

    margin-right: 0;
    margin-left: 0;
}
.padding-top-register{
    text-align: center;
}
.error_poster{
    width:100%;
}
#ajax_error{
    display: none;
}
#ajax_success{
    display: none;
}
.err_msg, #ajax_error {
    position:  fixed;
    top: 93px;
    background: #dc3545f2;
    width:  100%;
    text-align:  center;
    padding:  5px 0;
    font-size:  1.2em;
    font-weight:  bold;
    text-transform: CAPITALIZE;
    z-index:  1000;
    border-top: 1px solid #90232e;
    border-bottom: 1px solid #90232e;
    color: white;
}
.ok_msg, #ajax_success {
    position:  fixed;
    top: 93px;
    background: #47bf62f2;
    width:  100%;
    text-align:  center;
    padding:  5px 0;
    font-size:  1.2em;
    font-weight:  bold;
    text-transform: CAPITALIZE;
    z-index: 1000;
    border-top: 1px solid #2b7d3e;
    border-bottom: 1px solid #2b7d3e;
    color: white;
}
nav{
    z-index: 10000;
    border-bottom: 5px solid #1f7d34;
}
nav li{
    font-size: 1.2rem;
}
.user_profile_pic {
    border-radius:  50%;
    width: 30px;
    height: 30px;
}
.profile_btn_top{
    position:  relative;
}

.dropdown-menu {
    left: unset;
    right: 0 ;
}

.fixed-top {
    z-index: 1030;
}

/* layout sidebars fixed*/

.sidebar-nav-fixed {
    width: 18%;
    min-width: 200px;
    max-width: 250px;
}

@media (min-width: 768px) {
    #sidemenu.affix {
        position: fixed;
    }
}

.err_msg:hover, .ok_msg:hover, #ajax_error:hover, #ajax_success:hover {
    cursor: pointer;
    color: black;
}

.post_form textarea {
    resize: none;
    margin-bottom: 10px;
}
.post_form input {
    margin: 0 !important;
}

.post_modal {
    margin-bottom: 1rem !important;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 8px 0px grey;
    transition: all 0.4s ease-in-out;
}
#post-panel:hover {
    cursor: pointer;
    background: #28a745;
    transition: all 0.4s ease-in-out;
}
#small_image {
    display: inline-block;
    width: 62px;
    margin: 10px;
}

#post_input_fake {
    display: inline-block;
}
.modal-header {
    display: block;
}
.modal-header a{
    display: inline-block;
    width: 70px;
}

.modal-header a img {
    width: 100%;
}

.modal-header h5 {
    display: inline-block;
}
div#user-nav ul {
    list-style: none;
}
.profile-cover {
    min-height: 300px;
    background-size:  cover;
    background-position:  center;
    position: relative;
}
.card.coverProfilePic a img {
    height:  150px;
    width: auto;
}

.card.coverProfilePic {
    position:  absolute;
    bottom:  20px;
    right:  20px;
    border: 2px solid #ffffff87;
    box-sizing:  border-box;
    border-radius: 6px;
    max-width: 175px;
    background-color: #ffffffd1;
}
span.nav-icon {
    margin-right:  10px;
}

div#about, div#photos, div#friends {
    display: none;
}

ul.navbar-nav li {
    cursor:  pointer;
    transition: background 0.3s ease-in-out;
}

ul.navbar-nav li:hover {
    background: #ffffff1f;
}

ul.navbar-nav li a{
    color:#d7eedd !important;
}

.dropdown-menu {
    background: green;
}

.dropdown-menu a:hover {
    color: black !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #28a745;
}
img.logo {
    height: 32px;
}
.img_100 {
    height: 150px;
    width: auto;
}

.like_counter {
    position: relative;
}
.loading-gif {
    width: 25px;
    position: absolute;
    left: 42px;
    top: -13px;
}
.like-button, .dislike-button {
    color: gray;
    background: none;
    border: none;
    cursor:  pointer;
    transition: background 0.3s ease-in-out;
}
.like-button:hover, .dislike-button:hover {
    color: black;
}
.unlike-button, .undislike-button {
    color: black;
    border: none;
    background: none;
    cursor:  pointer;
    transition: background 0.3s ease-in-out;
}
.unlike-button:hover, .undislike-button:hover {
    color: black;
    opacity: 0.8;
}

.like-button, .unlike-button, .dislike-button, .undislike-button {
    padding: 10px;
    width: 100%;
    outline: none;
}
.comment {
    border-bottom: 1px solid darkgray;
    width: 97%;
    margin-top: 10px;
}

.comment span img {
    height: 40px;
    display: inline;
    border-radius: 50%;
    width: 40px;
}

.user_pic {
    width: 33px;
    height: 33px;
    margin-right: 7px !important;
    border-radius: 50%;
    padding-top: 9px;
}
.comments_box {
    height: 0;
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    margin-top: 27px;
    border-top: 1px solid darkgrey;
    box-shadow: green -11px 0px 14px 0px inset;
}

.comment_big {
    height: 50px;
}

.comment_box_full {
    padding: 15px;
    height: 420px;
}

.description {
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
    margin: 13px 0px;
    padding: 10px 2px;
    color: #5e5e5e;
}
.description p {
    margin:  0px;
}
.user_pic_add_comment {
    display: inline-block;
    width: 32px;
    margin-right: 5px;
}
span.user_pic_add_comment img {
    height: 100%;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 7px;
    width: 100%;
}

.input_add_comment {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: 25px;
    padding: 25px;
    border-top: 1px solid #cdcdcd;
}

input[type="text"] {
    width: 70%;
    box-sizing: border-box;
}

#comment_btn_close {
    display: none;
}

.comment_date {
    font-size: 0.6em;
    text-align: center;
    color: #488676;
    font-weight:  bold;
    font-family:  arial;
    float: right;
    margin: 8px 0px;
}


a.comment_owner {
    font-size: 0.8em;
    font-weight:  bold;
    padding-top: 8px;
}
.comments-buttons {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.comment_btn_close {
    display: none;
}

.last_comment {
    color: green !important;
    text-shadow: 0 0 10px green;
}
.icon {
    width: 9%;
    display: block;
    float: left;
    margin-right: 6px;
}
.icon a {
    width: 100%;
    height: 45px;
    display: block;
    border-radius: 50%;
}
.icon img {
    width: 100%;
    height: -webkit-fill-available;
    border-radius: 50%;
}
.name {
    font-size: 1.32em;
    margin-top: 5px;
    float: left;
}

.name a {
    text-decoration: none;
    transition: all 0.3s;
    font-weight: bold;
}

.name a:hover {
    color: black;
    text-shadow: 0 0 10px darkgray;
}

.date {
    float: right;
    font-size: 0.75em;
    margin-top: 4px;
    color: gray;
}

.add_comment_container {
    height: 31px;
    margin-bottom: 0px !important;
    margin-top: 10px;
    padding: 0px 8px;
}
.like-container {
    width: 68px;
    display: inline-block;
    position: relative;
}
.like_counter {
    position: relative;
}

.like-button, .dislike-button, .unlike-button, .undislike-button {
    position: absolute;
    padding: 0px;
    top: -13px;
    outline: none !important;
}

span.likes_counter {
    background: #ffffffc2;
    padding: 2px 6px;
    font-size: 0.6em;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #757575;
    color: black;
    margin-left: 7px;
    outline: none;
}

.comment-counter {
    padding: 1px 3px;
    font-size: 0.8em;
    color: black;

}

.comment-desc {
    margin: 0px;
}

.post_navigation {
    padding: 10px 0px;
    border-radius: 11px;
    box-shadow: 0 0 10px 0px green;
}

.search_input {
    border-radius: 7px 0px 0px 0px !important;
    padding: 4px 12px;
    border: 1px solid whitesmoke;
}
.list-group-item {
    padding: 4px 6px;
}
.list-group-item a {
    text-decoration: none;
}
.list-group-item:hover {
    background: #e7e7e7;
    transition: all 0.3s;
    color: black;
}
.search_button {
    border-radius: 0px 7px 0px 0px !important;
    padding: 4px 12px;
}

.search_image {
    width: 30px;
}

.search_user {
    font-size: 0.86em;
    text-decoration: none;
    display: inline-block;
    width: 85%;
}

.users-result {
    position: absolute;
    width: 291.156px;
    min-width: 291.156px;
    top: 33px;
    background: white;
    z-index: 999;
    box-shadow: 1px 1px 6px #00000073;
}

.users-list {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.not-found {
    font-size: 0.8em;
}

.search-found {
    font-weight: bold;
}
.female {
    color: deeppink !important;
}
input[name="comment_description"] {
    border-radius: 10px 0px 0px 10px !important;
}
.add-comment-btn {
    border-radius: 0px 8px 8px 0px !important;
}

.comments_gif {
    margin: 0px auto;
    display: block;
    margin-top: 54px;
}
div#profile-pic img {
    height: 150px;
    border: 1px solid #dfdfdf;
    padding: 3px;
}
#profile-pic{
    position: relative;
    text-align: center;
}

span#ImageAdd img {
    opacity:  0.7;
    transition:  opacity 0.4s ease-in-out;
    cursor:  pointer;
}

span#ImageAdd img:hover {
    opacity:  1;
}
input#upload_photos {
    display: none;
}
.holder img {
    margin: 4px;
}
div#zoom_cover_pic:hover {
    color:  #444;
}
#profile-pic a:hover ~ #change_profile_pic,
#profile-pic a:hover ~ #zoom_profile_pic{

    display:block;
}
#change_profile_pic:hover,
#zoom_profile_pic:hover,
#change_profile_cover:hover {
    display:block;
}
#zoom_profile_pic a{
    display: block;
}
div#change_profile_pic {
    position: absolute;
    left: 40%;
    font-size: 1.3rem;
    top: 0;
    color: #000;
    cursor: pointer;
    padding: 1px 5px;
    /* transition: color 0.3s ease-in-out; */
    display: none;
    background: #f7f7f78c;
}
div#zoom_profile_pic {
    position: absolute;
    bottom: 0;
    left: 40%;
    font-size: 1.3rem;
    color: #000;
    cursor: help;
    padding: 1px 7px;
    transition: color 0.3s ease-in-out;
    display: none;
    background: #f7f7f78c;
    /* border-radius: 0 25px 0 0; */
}
div#change_profile_pic:hover {
    color: #1f7d34;
}
#profile-pic a{
    display: block;
    color: black;
}
span.user_pic_add_comment img {
    width: 30px;
    height: 30px;
}
nav {padding: 0 !important;}
#profile-pic a:hover {
    color: #1f7d34;
}
.card.coverProfilePic a img {
    width: 92%;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    cursor: zoom-in;
}
.card.coverProfilePic a img:hover {
    opacity:  1;
}
.card.coverProfilePic ul li a {
    color: black !important;
}

div#image_list img {
    cursor: zoom-in;
}

.like-comment-container {
    position: relative;
    float: left;
}

.like-comment-container button {
    position: absolute;
    left: 214px;
    font-size: 0.63em;
    width: 68px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    outline:none !important;
}

.unlike-comment-button {
    color:black;
    transition: all 0.2s ease-in-out;
}
.unlike-comment-button:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}
.like-comment-button {
    color: #aaaaaa;
    transition: all 0.2s ease-in-out;
}

.like-comment-button:hover {
    color:black;
    transition: all 0.2s ease-in-out;
}
.like-comment-container img.comments_gif {
    position: absolute;
    left: 236px;
    height: 19px;
    width: 19px;
    top: -49px;
}

.delete-post-button {
    position: absolute;
    top: 40px;
    right: 12px;
    outline:none !important;
}

.profile_cover_link{
    display: block;
    position:  absolute;
    width: 100%;
    height:  100%;
    top: 0;
    left:  0;
    cursor:  zoom-in;
}
div#change_profile_cover {
    position:  absolute;
    right: 15px;
    top: 6px;
    font-size:  1.3rem;
    padding: 2px 10px;
    border-radius:  5px;
    z-index: 1000;
    box-sizing:  border-box;
    cursor:  pointer;
    display: none;
}

div#change_profile_cover:hover {
    background-color: #ffffff9c;
}

#profileCover a:hover + #change_profile_cover {
    display: block;
    background: #ffffff9e;
}

.comments {
    padding: 0 0 0 11px;;
}

form#uploadUserPhotosForm {
    display: none;
    visibility:  hidden;
    padding: 0px 0px 0px 11px;;
}

.suggested-user-img {
    width: 40px;
}

.suggested-user-container {
    border: 1px solid darkgrey;
    border-radius: 8px;
    margin: 7px auto;
    padding: 2px 4px;
}

.suggested-user-container h5 {
    margin: 0px 0px -9px 3px !important;
}

.suggested-user-container a {
    width:45px;
    border-radius: 50%;
    text-decoration: none;
}
.suggested-user-container img {
    width: 100%;
    height: 45px;
    margin: 0px;
    border-radius: 50%;
}

.suggested-user-container small {
    font-size: 0.7em;
    margin: 0px 0px -9px 3px !important;
}

.add-friend-button {
    padding: 1px 6px;
    font-size: 0.7em;
    display: block;
    margin-bottom: 2px;
}

.user_pic {
    float: left;
}

.female:hover {
    text-shadow: 0 0 2px deeppink;
>>>>>>> e6e9546a72a4fcbc6f44267aa3cdb0adc2a847e4
}