html,
body {
    height: 100%;
    padding-bottom: 40px;
    padding-top: 25px;
}

div#guest_wrap {
    text-align: center;
}

.padding-top-register{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-sign {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
form.form-sign img {
    width: 100%;
}
.form-sign .checkbox {
    font-weight: 400;
}
.form-sign .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-sign .form-control:focus {
    z-index: 2;
}
.form-sign input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-sign input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

a.text-success:focus, a.text-success:hover {
    text-decoration: underline;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 5px);
}
.form-horizontal{
    text-align: left;
}
.form-control-feedback {
    width:  max-content;
}
.row {

    margin-right: 0;
    margin-left: 0;
}
.padding-top-register{
    text-align: center;
}
.error_poster{
    width:100%;
}
#ajax_error{
    display: none;
}
#ajax_success{
    display: none;
}
.err_msg, #ajax_error {
    position:  fixed;
    top: 65px;
    background: #dc3545f2;
    width:  100%;
    text-align:  center;
    padding:  5px 0;
    font-size:  1.2em;
    font-weight:  bold;
    text-transform: CAPITALIZE;
    z-index:  1000;
    border-top: 1px solid #90232e;
    border-bottom: 1px solid #90232e;
    color: white;
}
.ok_msg, #ajax_success {
    position:  fixed;
    top: 65px;
    background: #47bf62f2;
    width:  100%;
    text-align:  center;
    padding:  5px 0;
    font-size:  1.2em;
    font-weight:  bold;
    text-transform: CAPITALIZE;
    z-index: 1000;
    border-top: 1px solid #2b7d3e;
    border-bottom: 1px solid #2b7d3e;
    color: white;
}
nav{
    z-index: 10000;
    border-bottom: 5px solid #1f7d34;
}
nav li{
    font-size: 1.2rem;
}
.user_profile_pic {
    border-radius:  50%;
    height: 35px;
    position:  absolute;
    left: -36px;
    top: 2px;
}
.profile_btn_top{
    position:  relative;
}

.dropdown-menu {
    left: unset;
    right: 0 ;
}

.fixed-top {
    z-index: 1030;
}

/* layout sidebars fixed*/

.sidebar-nav-fixed {
    width: 18%;
    min-width: 200px;
    max-width: 250px;
}

@media (min-width: 768px) {
    #sidemenu.affix {
        position: fixed;
    }
}

.err_msg:hover, .ok_msg:hover, #ajax_error:hover, #ajax_success:hover {
    cursor: pointer;
    color: black;
}

.post_form textarea {
    resize: none;
    margin-bottom: 10px;
}
.post_form input {
    margin: 0 !important;
}

.post_modal {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 14px 0px grey;
}

#small_image {
    display: inline-block;
    width: 62px;
    margin: 10px;
}

#small_image a img {
    width:100%;
    border-radius: 50%;
}

#post_input_fake {
    display: inline-block;
}
.modal-header {
    display: block;
}
.modal-header a{
    display: inline-block;
    width: 70px;
}

.modal-header a img {
    width: 100%;
}

.modal-header h5 {
    display: inline-block;
}
div#user-nav ul {
    list-style: none;
}
.profile-cover {
    min-height: 300px;
    background-size:  cover;
    background-position:  center;
    position: relative;
}
.card.coverProfilePic img {
    height:  150px;
    width: auto;
}

.card.coverProfilePic {
    position:  absolute;
    bottom:  20px;
    right:  20px;
    border: 2px solid #ffffff87;
    box-sizing:  border-box;
    border-radius: 6px;
    max-width: 150px;
    background-color: #ffffffd1;
}
span.nav-icon {
    margin-right:  10px;
}

div#about, div#photos, div#friends {
    display: none;
}

ul.navbar-nav li {
    cursor:  pointer;
    transition: background 0.3s ease-in-out;
}

ul.navbar-nav li:hover {
    background: #ffffff1f;
    border-radius: 5px;
}

ul.navbar-nav li a{
    color:#d7eedd !important;
}

.dropdown-menu {
    background: green;
}

.dropdown-menu a:hover {
    color: black !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #28a745;
}
img.logo {
    height: 32px;
}
.img_100{
    height: 200px;
    width: 200px;
}